.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #072c02;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Playfair+Display&family=Raleway:wght@400;900&display=swap');
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  

}
.nav__text{
  font-family: 'Fredoka One', cursive;
}

.carousel-caption{
  font-family: 'Playfair Display', serif;
  /* font-family: 'Fredoka One', cursive; */
  text-align: left;

}
.title__caption{
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px #464242;
  font-weight:900;
  font-size: 52px;

}
.title__lv{
  font-family: 'Raleway', sans-serif;
 
  font-weight:900;
  font-size: 30px;

}
.p__caption{
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px #464242;
  font-weight:400;
  font-size: 15px;

}
.small_cap{
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  color: #385723;
}
.title-menu{
  
  font-family: 'Fredoka One', cursive;
  text-align: left;

}

.btn-flat{
  /* font-family: 'Playfair Display', serif; */
  background: "#557571" ;
  border: "#557571";

}
.container-fluid{
  margin-top: 12vh;
  align-items: center;
  justify-content: center;
}
.container-m{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-link{
  padding: 20;
  color:#2e332e;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(27, 126, 24);
  text-decoration: none;
}
.nav-link:active {
  text-decoration: none;
  color: rgb(0, 128, 53);
}
a{
  text-decoration: none;
}



@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image:hover {
  animation: wobble 1s 1;
}

:video-root{
  height: 40vmin;
}
@import '~video-react/dist/video-react.css';
/* body {
  font-family: 'Open Sans', sans-serif;
} */

.Reward-Modal{
  font-family: 'Sarabun', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Sarabun:wght@300&display=swap');
.ranktable{
  font-family: 'Prompt', sans-serif;
  /* font-family: 'Sarabun', sans-serif; */
}
